<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Flask demo PCII</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    {% block head %}{% endblock %}
  </head>

  <body>

    <nav>
      <ul class="menu">
        {% if ulogin == None %}
            <li><a class="button" href="/login">Login</a></li>
        {% else %}
            <li><a class="button" href="/logoff">Logoff</a></li>
            <li><a class="button" href="/Marketplace">Marketplace</a></li>
            <li><a class="button" href="/gform/Category">Category</a></li>
            <li><a class="button" href="/gform/Seller">Seller</a></li>
            <li><a class="button" href="/gform/Transaction">Transaction</a></li>
            <li><a class="button" href="/subform/Marketplace_Transaction?option=''">Transactions by MarketPlace</a></li>
            <li><a class="button" href="/plot">Plot</a></li>
            <li><a class="button" href="/plotly">Plotly</a></li>
            <li><a class="button" href="/Userlogin">Users</a></li>
            <li><a class="button" style="color:lightblue">User: {{ulogin}}</a></li>
        {% endif %}
      </ul>
    </nav>

    {% block content %}{% endblock %}

  </body>
</html>